<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" >

	<bean id="coreBean" class="com.nareshit.service.CoreConcernBean" >
	
	</bean>
	
	<bean id="ccb" class="com.nareshit.service.ThrowsAdviceBean" >
	   
	</bean>
	<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean" >
	<property name="targetName" ><value>coreBean</value></property>
	 <property name="interceptorNames" ><value>ccb</value></property>
	</bean>
	

</beans>