<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="accountListBean" class="com.pita.spring.AccountListBean">
	  <property name="account" >
	  <bean class="com.pita.spring.Account">
	    <property name="accountNo" value="ACC123456"></property>
	    <property name="balance" value="52841"></property>
	    <property name="name" value="Pitambar Mohanty"></property>
	  </bean>
	  
	  	  </property>
	</bean>
</beans>